html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(90% + .2vw);
    width: 95vw;
    line-height: 1.5;
    margin: auto;
    border: 2px solid white;
    background-image: linear-gradient(
        180deg,
        rgba(2,0,36,1) 0%,
        rgba(0,0,32,1) 11%,
        rgba(65,65,150,1) 100%
    );
    background-attachment: fixed;
}
h1, h2, h3, p, ul {
	padding: .25em 0;
}
h1 {
    font-weight: bold;
    color: white;
}
h3{
    font-size: 180%;
}
header {
    border-bottom: 2px solid;
    color: white;  
    text-indent: 20px;
}

.table-dark th, .table-dark td {
    color: #f8f9fa;
}

.form-select-sm {
    background-color: #212529;
    color: white;
    border-color: #343a40;
}

.form-select-sm:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}


/* Navbar Styles */


.container{
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.menu-list{
    display: none;
    position: absolute;
    left: 20;
    width: 40%;
    border: 2px solid white;
    color: white;
    background-color: rgba(0,0,61);
}
.menu-btn {
    display: block;
    padding: 1em;
    color: white;
}
.menu-btn::after {
    content: "\2630";
}
#checkbox-toggle{
    display: none;
}
#checkbox-toggle:checked ~ .menu-list{
    display: block;
}
#checkbox-toggle:checked ~ .menu-btn{
    content: "\2716";
}
.nav-bar {
    border-bottom: 2px solid white;  
    & a {
        display: block;
        padding: .25em 1em;
        text-decoration: none;
        color: white;
    }
    & ul {
        padding: 1em;
        margin-bottom: 0;
        list-style-type: none;
    }
    & a:hover, a:focus {
        text-decoration: underline;
    }
    
    & a.current{
        border: 2px solid;
        border-radius: 10px;  
        width: fit-content;        
    }        
}
.menu-list li:has(.submenu) {
    position: relative;
    & small::after {content: "\25b6"}
    & small{
		margin-left: 1em;
	}
    &:hover > .submenu {
        display: block;
    }
}
.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgb(0, 0, 61);
    border: 2px solid;
    border-radius: 10px;
    color: white;
    display: none;
    width: 110%;
    z-index: 1;
    & > li a {
        margin: 2px;
    }
}

.menu-list li:has(.submenu)  small::after{
		content: "\25b6";
	}
.responsive-two-column-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}


@media only screen and (min-width: 1692px) {
    body {
        width: 70vw;
    }
    main {
        flex-direction: row;
    }
    .menu-list {
        position: relative;
        left:0;
        display:flex;
        width: 100%;
        
    }
    .nav-bar{
        & a.current{
            width: fit-content;
        }
    }
    .menu-btn{display: none;}
    #checkbox-toggle:checked ~.menu {display: flex;}
    .menu-list li:has(.submenu) small::after {
        content: "\25bc";
    }
    .submenu { 
        top: auto;
        left: 0;
        width: 160%
    }
}

